.DS_Store

__pycache__/
**/__pycache__
.vscode/

#Folder
images/
images_gsav/
results/
results_gsav3/
results_apmra/
git-actions-practice/
result*/

#weights model
model/weights/
model/check_point/
model/apmra94
model/gsav3
model/weight_return
